.block__toggle--btn {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

.td__toggle--input {
	opacity: 0;
	width: 0;
	height: 0;
}

.td__toggle--span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #d3d3d3;
	transition: 0.3s;
	border-radius: 30px;
}

.td__toggle--span:before {
	position: absolute;
	content: "";
	height: 25px;
	width: 25px;
	left: 3px;
	bottom: 2.6px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.td__toggle--input:checked + .td__toggle--span {
	background-color: #0a6bcd;
}

.td__toggle--input:checked + .td__toggle--span:before {
	transform: translateX(29px);
}

.td__toggle--strong {
	position: absolute;
	left: 100%;
	width: max-content;
	line-height: 30px;
	margin-left: 10px;
	cursor: pointer;
}
